modules = ["cpp-clang14"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "C++ Programs"

[[workflows.workflow]]
name = "C++ Programs"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = """
clang++ hallo.cc -o hallo && ./hallo && echo \"
--- Summieren Program ---
\" && clang++ summieren.cc -o summieren && ./summieren"""

[workflows.workflow.metadata]
outputType = "console"
